{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "no-underscore-dangle": ["off"]
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}